@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ul, ol {
      list-style: revert;
      padding-left: 1em
    }
  }

@layer components{
    .slide-nav{
        @apply z-10;
    }
    .slide-next{
       @apply absolute top-1/2 right-10 -translate-y-1/2;
    }
    .slide-prev{
        @apply absolute top-1/2 left-10 -translate-y-1/2;
    }
    .ef-accent-btn{
        @apply px-10 py-2.5 block w-fit transition-all before:transition-all hover:text-white rounded-full border-2 border-brown-light text-brown overflow-hidden relative before:absolute before:h-full before:w-0 before:top-0 before:left-1/2 before:-translate-x-1/2 before:bg-brown-light hover:before:w-full;
    }
    .ef-accent-alt-btn{
        @apply px-10 py-2.5 block w-fit transition-all before:transition-all hover:text-white rounded-full border-2 border-brownish hover:border-brown text-white bg-brownish overflow-hidden relative before:absolute before:h-full z-0 before:w-0 before:top-0 before:left-1/2 before:-translate-x-1/2 before:bg-brown hover:before:w-full;
    }
    .ef-white-btn{
        @apply px-10 py-2.5 block w-fit transition-all before:transition-all hover:text-brown rounded-full border-2 border-white text-white overflow-hidden relative before:absolute before:h-full before:w-0 before:top-0 before:left-1/2 before:-translate-x-1/2 before:bg-white hover:before:w-full;
    }
    .ef-newsletter{
        @apply grid xs:flex xs:bg-biege w-full xs:rounded-full items-center xs:pl-5 justify-center xs:justify-between;
    }
    .ef-about{
        @apply bg-cover bg-center pt-32 pb-52 xs:py-32 relative
         before:h-32 before:w-full before:bg-gradient-to-b before:from-white before:to-transparent before:absolute before:top-0 before:left-0
         after:h-32 after:w-full after:bg-gradient-to-t after:from-dark after:to-transparent after:absolute after:bottom-0 after:left-0
    }
}
