*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

@import "./sub/variables";
@import "./sub/layout";

@import "./sub/header";
@import "./sub/overlay";

@import "./sub/btn";
@import "./sub/select";

@import "./sub/hero";
@import "./sub//search-form";

@import "./sub/text";
@import "./sub/apartament-list";