$color-dark: #0F172A;
$color-dark-lighter: #878B94;
$color-accent: #FFA000;
$color-blueish: #F0F7FF;

// Typo
$fs-title: 2rem;
$fs-title-lg: 3rem;
$fs-title-sm: 1.5rem;

$fs-text: 1rem;
$fs-text-lg: 1.25rem;
$fs-text-sm: .75rem;