$color-dark: #0f172a;
$color-dark-lighter: #878b94;
$color-accent: #ffa000;
$color-accent-dark: #f26600;
$color-blueish: #f0f7ff;

// Typo
$fs-title: 2rem;
$fs-title-lg: 3rem;
$fs-title-sm: 1.5rem;

$fs-text: 1rem;
$fs-text-lg: 1.25rem;
$fs-text-sm: 0.75rem;

// Typo mobile

$mobile-fs-title: 1.5rem;
$mobile-fs-title-lg: 2rem;
$mobile-fs-title-sm: 1.25rem;

$mobile-fs-text: 0.75rem;
$mobile-fs-text-lg: 1rem;
$mobile-fs-text-sm: 0.5rem;

$font-alt: "Sriracha", cursive;

// Props

$shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
$shadow-lg: 0px 8px 15px rgba(0, 0, 0, 0.2);
